/* the styles for the elements */
html {
	background-color: #43bbf7;
	background-color: #43bbf7;
	background-color: #43bbf7;
	background-color: #43bbf7;}
header, h1, h3 {
	text-align: center;
}
header, img{
	padding: 2px;
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 800px;
	background-color: #f4aa42;
	margin: 15px auto;
	padding: 15px 0;
	border-style: groove;
	border-radius: 5px;
	border: 1px solid black; 
	 box-shadow: 10px 10px 5px #888888;
	 }

section, aside, h1, h2, h3, p {
	margin: 0;
	padding: 0; }
section, aside {
	margin-top: 1.5em;
	margin-bottom: 1em;  }
	
a { font-weight: bold; }
a:link { color: black; }
a:visited { color: black;}
a:hover, a:focus { color: blue; }

ul {
	margin-top: 0;
	margin-bottom: 1.5em; }
li {
	font-size: 95%; 
	padding-bottom: .35em; }
p{
	font-size: 95%;
	padding-bottom: .5em; }
em { font-weight: bold; }

/* the styles for the header */
header {
	padding-bottom: 1.25em;
	border-bottom: 2px #f45142; }
header img {
	float: left;
	margin-left: 10px; }
header h2 {
	font-size: 220%;
	color: black;
	text-shadow: 2px 2px 2px black;
	margin-left: 120px;
	margin-bottom: .25em; }

header h3 {
	font-size: 130%;
	font-style: italic;
	margin-left: 120px;
}
article {
	margin-right: 50px;
	padding: 10px;
	image: center;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}
main h1{
	padding-bottom: 20px;
	border-bottom: 2px solid black; }
}

#contact-us { margin-top: 1em; }
a.date_passed { color: white; }


/* The styles for the sidebar*/
aside {
	margin-right: .5em;
	width: 224px;
	float: right;
	padding: 20px;
	background-color: #f45142;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
}
aside h2 {
	font-size: 130%;
	padding-bottom: .5em;
}
aside h3 {
	font-size: 100%;
	color: black;
	padding-bottom: .5em;
}
aside p { margin-bottom: .5em; }

/* the styles for the footer */
footer { 
	clear: both;
	border-top: 2px solid black; 
	padding-bottom: .7em;
	width: 800 px;}
footer p {
	font-size: 80%;
	text-align: right;
	margin-right:20px;
}
#nav_menu ul {
    list-style-type: none;
    position: relative; 
	width: calculated-width;
	margin: 0 0;
}   /* So the submenus can be 
                               positioned */
#nav_menu ul li { float: left; position: relative;}
#nav_menu ul ul {
    display: none;          /* Don't display submenu 
                               until hover of li */
    position: absolute;
    top: 100%; }
#nav_menu ul ul li {
    float: none;
    position: relative;
	top: 100%}
#nav_menu ul li:hover > ul {         /* Select ul child 
                                        of li element */
    display: block; }         /* Display submenu on hover 
                                 of li element */
#nav_menu ul ul li ul {
    position: absolute;
    left: 100%;         /* Display submenu to the right 
                           of the li element */
    top: 100%; }           /* Display submenu at the top of 
                           the li element */
#nav_menu ul li.lastitem ul li ul {
    position: absolute;
    left: -100%;        /* Display submenu to the left 
                           of the li element */
    top: 0; }           /* Display submenu at the top of the li 
                           element */
#nav_menu ul li:hover > ul {      /* Select ul child of li 
                                     element */
    display: block; 
	position: absolute}             /* Display the submenu on hoverover li */ 
                      					  
#nav_menu > ul::after {
    content: "";
    clear: both;
	list-style: none;
    display: block; }
#nav_menu ul {
    margin: 0;
    padding: 0; }
#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 200px;
	border-top: 1px solid black;
	border-bottom: 1px solid black; 
    padding: .8em 0;
    text-decoration: none;
    background-color: #f45142;
    color: Black;
    font-weight: bold; }
#nav_menu ul li.lastitem a { 
    width: 200px; }   /* So the navigation bar fills the 
                         706px body width */
#nav_menu ul li a.current { 
    color: black; }
#nav_menu ul li a:hover, #nav_menu ul li a:focus { 
    background-color: gray; }
	@media print {
   body {
    font-family: "Times New Roman", Times, serif;
    width: auto;
}
h1, h2 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
/* the styles for the navigation bar */
#nav_menu {
    display: none;
}
/* the styles for the sidebar */
aside {
    display: none;
}
/* the styles for the article */
article {
    width: auto;
}/* the styles for the header */
header { 
    border-bottom: 2px rgb(66,244,69);
}
header h2 {
    color: black;
    font-size: 180%;
}
header h3 {
    color: black;
    font-size: 120%;
}
/* the styles for the footer */
footer {
	
    border-top: 2px solid black;
} 
}
